# frozen_string_literal: true

require "net/http"
require "uri"

module RailsLLM
  ##
  # The {RailsLLM::KnowledgeTool} tool provides the LLM with
  # documentation about rails-llm, llm.rb, and mruby-llm.
  class KnowledgeTool < LLM::Tool
    name "rails-llm-knowledge"
    description "Returns rails-llm, llm.rb or mruby-llm documentation"
    parameter :topic, Enum["rails-llm", "llm.rb", "mruby-llm"], "The knowledge topic"
    required %i[topic]

    ##
    # Provides project documentation
    # @return [Hash]
    def call(topic:)
      case topic
      when "rails-llm" then {directions:, documentation: fetch(rails_llm_resources)}
      when "llm.rb" then {directions:, documentation: fetch(llmrb_resources)}
      when "mruby-llm" then {directions:, documentation: fetch(mruby_llm_resources)}
      else {error: "unknown topic: #{topic}"}
      end
    end

    private

    def fetch(resources)
      resources.each_with_object({}) do |(key, url), docs|
        res = Net::HTTP.get_response(URI.parse(url))
        docs[key] = res.body
      end
    end

    def rails_llm_resources
      {
        "readme" => "https://raw.githubusercontent.com/llmrb/rails-llm/main/README.md"
      }
    end

    def llmrb_resources
      {
        "readme" => "https://raw.githubusercontent.com/llmrb/llm.rb/main/README.md",
        "deepdive" => "https://raw.githubusercontent.com/llmrb/llm.rb/main/resources/deepdive.md",
        "changelog" => "https://raw.githubusercontent.com/llmrb/llm.rb/main/CHANGELOG.md"
      }
    end

    def mruby_llm_resources
      {
        "readme" => "https://raw.githubusercontent.com/llmrb/mruby-llm/main/README.md"
      }
    end

    def directions
      "Reference links from the associated document in your response"
    end
  end
end
